SPRING_PROFILES_ACTIVE=local

BUSINESS_INITIAL_BALANCE=500000.00
SES_MAIL=
TWILIO_PHONE=

DYNAMODB_CUSTOMERS_TABLE=btg-funds-customers-dev
DYNAMODB_FUNDS_TABLE=btg-funds-funds-dev
DYNAMODB_TRANSACTIONS_TABLE=btg-funds-transactions-dev

AWS_REGION=
AWS_ENDPOINT=
AWS_SES_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=

JWT_SECRET=invesment_btg_funds_senior_secret_key_2026
JWT_EXPIRATION=7200000

DEMO_USERNAME=admin
DEMO_PASSWORD=funds2026